
@{
    ViewBag.Title = "CalculateFromOtherApp";
}

<h2>CalculateFromOtherApp</h2>

<form action="/Calculator/CalculateFromOtherApp" method="post">
    <input type="text" name="x" placeholder="Enter first number" /><br /><br />
    <input type="text" name="y" placeholder="Enter second number" /><br /><br />
    <input type="submit" value="add" />
</form>

@if(ViewBag.Result != null)
{
    <h1>@ViewBag.Result</h1>
}
@if (ViewBag.PreviosOperations != null)
{
    <h1> Previos Operations :</h1>
    foreach(var item in ViewBag.PreviosOperations)
    {
        <h2>@item</h2>
    }    
}

